@model Soundwave_Music.Models.UserManagementModels.Change_Password
@using Soundwave_Music.Common.Helper
@{
    ViewBag.Title = "UserChangePassword";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@section scripts
{
    <script src="~/Scripts/my_js/show_hide_password.js"></script>
}
@using (Html.BeginForm("UserChangePassword", "User", null, FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <!--begin::Section-->
    <section class="mb_changepass margin_mobile_fixed">
        <!--begin::Container-->
        <div class="container mt-change--password">
            <div class="center-noleftright">
                <!--begin::Row-->
                <div class="row no-gutters">
                    <!--begin::Col-->
                    <div class="col-12 col-lg-3 col-xl-3">
                        @Html.Partial("UserProfileManagement")
                    </div>
                    <!--end::Col-->
                    <!--begin::Col-->
                    <div class="col-12 col-lg-9 col-xl-9">
                        <!--begin::user Page-->
                        <div class="user-page">
                            <div class="page-title text-uppercase">Change Password</div>
                            <div class="user-form">
                                <div class="form-wrap">
                                    <!--begin::Form-->
                                    <form method="POST" id="loginForm" class="needs-validation" novalidate="" autocomplete="off">
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        <!--begin::Input Form Group-->
                                        <div class="settingrow form-group mb-3">
                                            <label class="settinglabel control-label col-sm-4">Old Password<small style="color:red;">(*)</small></label>
                                            <div class="col-sm-9 show_pass position-relative">
                                                @Html.PasswordFor(m => m.Input_old_password, new { @class = "form-control", @required = "required", id = "Oldpass" })
                                                @Html.ValidationMessageFor(model => model.Input_old_password, "", new { @class = "text-danger" })
                                                <span toggle="#Oldpass" class="col-lg-1 d-flex justify-content-end field-icon toggle-password"><span class="material-icons">visibility</span></span>
                                            </div>
                                        </div>
                                        <!--end::Input Form Group-->
                                        <!--begin::Input Form Group-->
                                        <div class="settingrow form-group mb-3">
                                            <label class="settinglabel control-label col-sm-3">New Password<small style="color:red;">(*)</small></label>
                                            <div class="col-sm-9 show_pass position-relative">
                                                @Html.PasswordFor(m => m.Input_new_password, new { @class = "form-control", @required = "required", id = "Newpass" })
                                                @Html.ValidationMessageFor(model => model.Input_new_password, "", new { @class = "text-danger" })
                                                <span toggle="#Newpass" class="col-lg-1 d-flex justify-content-end field-icon toggle-password"><span class="material-icons">visibility</span></span>
                                            </div>
                                        </div>
                                        <!--end::Input Form Group-->
                                        <!--begin::Input Form Group-->
                                        <div class="settingrow form-group mb-3">
                                            <label class="settinglabel control-label col-sm-3">Confirm New Password<small style="color:red;">(*)</small></label>
                                            <div class="col-sm-9 show_pass position-relative">
                                                @Html.PasswordFor(m => m.Confirm_password, new { @class = "form-control", @required = "required", id = "Confirmpass" })
                                                @Html.ValidationMessageFor(model => model.Confirm_password, "", new { @class = "text-danger" })
                                                <span toggle="#Confirmpass" class="col-lg-1 d-flex justify-content-end field-icon toggle-password"><span class="material-icons">visibility</span></span>
                                            </div>
                                        </div>
                                        <!--end::Input Form Group-->
                                    </form>
                                    <!--end::Form-->
                                    <!--begin::Action-->
                                    <div class="form-group clearfix">
                                        <div class="col-sm-9 col-sm-offset-3">
                                            <!--begin::Button-->
                                            <button type="submit" tabindex="4" class="btn bg-button ms-120px rounded-100px">UPDATE</button>
                                            <!--end::Button-->
                                        </div>
                                    </div>
                                    <!--end::Action-->
                                </div>
                            </div>
                        </div>
                        <!--end::user Page-->
                    </div>
                    <!--end::Col-->
                </div>
                <!--end::Row-->
            </div>
        </div>
        <!--end::Container-->
    </section>
    <!--end::Section-->
}