@using Soundwave_Music.Common.Helper
@model Soundwave_Music.Models.Video
@{
    ViewBag.Title = "TOP VIDEO";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    var topvietnamvideo = (List<Soundwave_Music.Models.Video>)ViewBag.TopVietnamVideo;
    var topusukvideo = (List<Soundwave_Music.Models.Video>)ViewBag.TopUSUKVideo;
    var topkoreavideo = (List<Soundwave_Music.Models.Video>)ViewBag.TopKoreaVideo;
    var topjapanvideo = (List<Soundwave_Music.Models.Video>)ViewBag.TopJapanVideo;
    var topchinavideo = (List<Soundwave_Music.Models.Video>)ViewBag.TopChinaVideo;
}
<div class="mt-20px margin_mobile_fixed">
    <div class="container">
        @if (User.Identity.GetRole() == 2)
        {
            <div class="row boderproductdetail news_list_section" style="text-align:center">
                <div class="container">
                    <h1 style="margin-top: 30px; font-size: 50px; color:#0026ff">TOP 5 VIETNAM VIDEO</h1>
                    <br />
                    <table class="table table-striped">
                        <thead>
                            <tr style="font-size: 40px; color:#b200ff">
                                <th>Image</th>
                                <th>Video Name</th>
                                <th>Singer</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in topvietnamvideo)
                            {
                                <tr>
                                    <td>
                                        <a href="@Url.Action("VideoDetail", "UserVideo", new {id = item.Video_id})"><img src="@item.Image" alt="@item.Video_id" style="height: 10% !important; width: auto !important" class="rounded-circle"></a>
                                    </td>
                                    <td style="font-size: 35px; color:#ff0000">
                                        <a href="@Url.Action("VideoDetail", "UserVideo", new {id = item.Video_id})">@item.Video_name</a>
                                    </td>
                                    <td style="font-size: 35px; color:#00ff21"><a href="#">@item.Singer.Singer_name</a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        }
        else
        {
            <div class="row boderproductdetail news_list_section" style="text-align:center">
                <div class="container">
                    <h1 style="margin-top: 30px; font-size: 50px; color:#0026ff">TOP 5 VIETNAM VIDEO</h1>
                    <br />
                    <table class="table table-striped">
                        <thead>
                            <tr style="font-size: 40px; color:#b200ff">
                                <th>Image</th>
                                <th>Video Name</th>
                                <th>Singer</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in topvietnamvideo)
                            {
                                <tr>
                                    <td>
                                        <a href="@Url.Action("VideoDetail", "UserVideo", new {id = item.Video_id})"><img src="@item.Image" alt="@item.Video_id" style="height: 10% !important; width: auto !important" class="rounded-circle"></a>
                                    </td>
                                    <td style="font-size: 35px; color:#ff0000">
                                        <a href="@Url.Action("VideoDetail", "UserVideo", new {id = item.Video_id})">@item.Video_name</a>
                                    </td>
                                    <td style="font-size: 35px; color:#00ff21"><a href="#">@item.Singer.Singer_name</a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <br />
            <div class="row boderproductdetail news_list_section" style="text-align:center">
                <div class="container">
                    <h1 style="margin-top: 30px; font-size: 50px; color:#0026ff">TOP 5 USUK VIDEO</h1>
                    <br />
                    <table class="table table-striped">
                        <thead>
                            <tr style="font-size: 40px; color:#b200ff">
                                <th>Image</th>
                                <th>Video Name</th>
                                <th>Singer</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in topusukvideo)
                            {
                                <tr>
                                    <td>
                                        <a href="@Url.Action("VideoDetail", "UserVideo", new {id = item.Video_id})"><img src="@item.Image" alt="@item.Video_id" style="height: 10% !important; width: auto !important" class="rounded-circle"></a>
                                    </td>
                                    <td style="font-size: 35px; color:#ff0000">
                                        <a href="@Url.Action("VideoDetail", "UserVideo", new {id = item.Video_id})">@item.Video_name</a>
                                    </td>
                                    <td style="font-size: 35px; color:#00ff21"><a href="#">@item.Singer.Singer_name</a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <br />
            <div class="row boderproductdetail news_list_section" style="text-align:center">
                <div class="container">
                    <h1 style="margin-top: 30px; font-size: 50px; color:#0026ff">TOP 5 KOREA VIDEO</h1>
                    <br />
                    <table class="table table-striped">
                        <thead>
                            <tr style="font-size: 40px; color:#b200ff">
                                <th>Image</th>
                                <th>Video Name</th>
                                <th>Singer</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in topkoreavideo)
                            {
                                <tr>
                                    <td>
                                        <a href="@Url.Action("VideoDetail", "UserVideo", new {id = item.Video_id})"><img src="@item.Image" alt="@item.Video_id" style="height: 10% !important; width: auto !important" class="rounded-circle"></a>
                                    </td>
                                    <td style="font-size: 35px; color:#ff0000">
                                        <a href="@Url.Action("VideoDetail", "UserVideo", new {id = item.Video_id})">@item.Video_name</a>
                                    </td>
                                    <td style="font-size: 35px; color:#00ff21"><a href="#">@item.Singer.Singer_name</a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <br />
            <div class="row boderproductdetail news_list_section" style="text-align:center">
                <div class="container">
                    <h1 style="margin-top: 30px; font-size: 50px; color:#0026ff">TOP 5 JAPAN VIDEO</h1>
                    <table class="table table-striped">
                        <thead>
                            <tr style="font-size: 40px; color:#b200ff">
                                <th>Image</th>
                                <th>Video Name</th>
                                <th>Singer</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in topjapanvideo)
                            {
                                <tr>
                                    <td>
                                        <a href="@Url.Action("VideoDetail", "UserVideo", new {id = item.Video_id})"><img src="@item.Image" alt="@item.Video_id" style="height: 10% !important; width: auto !important" class="rounded-circle"></a>
                                    </td>
                                    <td style="font-size: 35px; color:#ff0000">
                                        <a href="@Url.Action("VideoDetail", "UserVideo", new {id = item.Video_id})">@item.Video_name</a>
                                    </td>
                                    <td style="font-size: 35px; color:#00ff21"><a href="#">@item.Singer.Singer_name</a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <br />
            <div class="row boderproductdetail news_list_section" style="text-align:center">
                <div class="container">
                    <h1 style="margin-top: 30px; font-size: 50px; color:#0026ff">TOP 5 CHINA VIDEO</h1>
                    <table class="table table-striped">
                        <thead>
                            <tr style="font-size: 40px; color:#b200ff">
                                <th>Image</th>
                                <th>Video Name</th>
                                <th>Singer</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in topchinavideo)
                            {
                                <tr>
                                    <td>
                                        <a href="@Url.Action("VideoDetail", "UserVideo", new {id = item.Video_id})"><img src="@item.Image" alt="@item.Video_id" style="height: 10% !important; width: auto !important" class="rounded-circle"></a>
                                    </td>
                                    <td style="font-size: 35px; color:#ff0000">
                                        <a href="@Url.Action("VideoDetail", "UserVideo", new {id = item.Video_id})">@item.Video_name</a>
                                    </td>
                                    <td style="font-size: 35px; color:#00ff21"><a href="#">@item.Singer.Singer_name</a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        }
    </div>
</div>
<!-- end content Video -->
